if (this == obj) {
	return true;
}
if (obj == null) {
	return false;
}
if (getClass() != obj.getClass()) {
	return false;
}
final ${name} other = (${name}) obj;
return 
#set ($counter = 0) 
#foreach ( $field in $fields )
#if ($foreach.count > 1) && #end
Objects.equal(this.${field.name}, other.${field.name})
#end
;